In [1]:
import yfinance as yf
yf_ticker = yf.Ticker("TSLA")

In [2]:
Q_balance_sheet = yf_ticker.quarterly_balance_sheet

In [4]:
Q_balance_sheet

,2025-03-31,2024-12-31,2024-09-30,2024-06-30,2024-03-31,2023-12-31
Treasury Shares Number,NaN,NaN,0.0,0.0,0.0,0.0
Ordinary Shares Number,3220000000.0,3216000000.0,3207000000.0,3194640415.0,3188965775.0,NaN
Share Issued,3220000000.0,3216000000.0,3207000000.0,3194640415.0,3188965775.0,NaN
Total Debt,13128000000.0,13623000000.0,12783000000.0,12515000000.0,9911000000.0,NaN
Tangible Book Value,74261000000.0,71443000000.0,69520000000.0,66055000000.0,63957000000.0,NaN
...,...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,36996000000.0,36563000000.0,33648000000.0,30720000000.0,26863000000.0,NaN
Other Short Term Investments,20644000000.0,20424000000.0,15537000000.0,16085000000.0,15058000000.0,NaN
Cash And Cash Equivalents,16352000000.0,16139000000.0,18111000000.0,14635000000.0,11805000000.0,NaN
Cash Equivalents,1452000000.0,1753000000.0,4327000000.0,408000000.0,418000000.0,NaN
Cash Financial,14900000000.0,14386000000.0,13784000000.0,14227000000.0,11387000000.0,NaN

In [ ]:
def _calculate_networth(self, ws, row):
        """Calculate networth = Total Assets - Total Liabilities"""
        # This would need to reference the cells with current assets and liabilities
        # For now, we'll use the data directly
        if self.quarterly_balance_sheet is not None:
            try:
                total_assets = self.quarterly_balance_sheet.loc['Total Assets'].values[:3]
                total_liabilities = self.quarterly_balance_sheet.loc['Total Liabilities Net Minority Interest'].values[:3]

                for i, (ta, tl) in enumerate(zip(total_assets, total_liabilities)):
                    networth = ta - tl
                    col = ['E', 'G', 'I'][i]
                    ws[f'{col}{row}'] = self._format_currency(networth)

                    # Add percentage changes
                    if i > 0:
                        prev_nw = total_assets[i-1] - total_liabilities[i-1]
                        pct_change = self._calculate_pct_change(networth, prev_nw)
                        pct_col = ['F', 'H'][i-1]
                        ws[f'{pct_col}{row}'] = pct_change
                        ws[f'{pct_col}{row}'].number_format = '0.00%' if abs(pct_change) < 10 else '0.0'

            except Exception as e:
                logger.warning(f"Error calculating Networth: {e}")